h1{background-color: white; color: black; text-align: center; text-decoration: underline;}

#personal{margin-top: 5%;}
#login{margin-top: 5%; margin-left: 40%; margin-right:40%;}

#About{width: 75%; text-align: center; margin:auto; margin-top: 5% }

#Arch{width: 25%; margin: auto;}
#ArchImg{width: 350px;}

#BArch{width: 50%; margin: auto;}
#BAIMG{width: 750px;}

#submittime{margin: auto}