th{
    background-color:lightgrey;
    padding:10px;
}

p.solid {
    border-style:solid;
    border-width:2px;
    border-color:black;
}

td{
    padding:10px;
}

table{
    margin:100px;
}

img{
    border-style:dashed;
    border-width:5px;
    border-color:red;
    padding:30px;
}
p{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}
.p1{
    font-family: "monospace";
    font-size: 25px;
}
/* mouse over link */ 
a:hover {
    color:red;
}
/* visited */ 
a:visited {
    color:gray;
}
/* selected link */
a:active {
    color:orange;
}